body
{
    background: rgb(0, 0, 0);
}

html, body
{
    overflow: hidden;
}

.webgl
{
    
    top: 0;
    left: 0;
    outline: none;
    border: 5px solid rgb(32, 69, 110);
    border-radius: 10px;
    margin-top: 55px;
    
}

.parent 
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
}

.container
{
    margin-top: 50%;
}
.codeHeader
{
    display: grid; 
    grid-template-columns: 1fr 20%; 
    grid-template-rows: 1fr; 
    gap: px 0%; 
    grid-template-areas: 
      "header stats"; 
}
/* style for psudocode */
#psudoDFS

{
    align-self: center;
    border: 5px solid rgb(32, 69, 110);
    border-radius: 10px;
    color: white;
    background-color: rgb(44, 44, 44);
}

pre.code {
    white-space: pre-wrap;
}
pre.code:before {
    counter-reset: listing;
}
pre.code code {
    counter-increment: listing;
}
pre.code code:before {
    content: counter(listing) ". ";
    width: 8em;         
    padding-left: auto; 
    margin-left: auto;  
    text-align: right;  
}

#function
{
    color: gold;
}

#variable
{
    color: rgb(16, 163, 107);
}

#if
{
    color: rgb(201, 20, 224);
}

#code
{
    color: rgb(16, 129, 163);
}

.lineNums
{
    color: rgb(129, 129, 129)
}


/* Ujarak */
.button--ujarak {
	-webkit-transition: border-color 0.4s, color 0.4s;
	transition: border-color 0.4s, color 0.4s;
    /* center */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    margin-top: 10px;
}

.button--ujarak,
.button--ujarak::before {
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--ujarak:hover {
	color: rgb(0, 0, 0);
	border-color: #37474f;
}
.button--ujarak.button--inverted:hover {
	color: #37474F;
	border-color: #fff;
}
.button--ujarak:hover::before {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}


